body {
    background-color: #f2f2f2;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: red;
}

p {
    color: #555;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
}
